<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="view_signatures_form" model="ir.ui.view">
        <field name="name">Add Signatures by Company</field>
        <field name="model">nebiz.signatures</field>
        <field name="arch" type="xml">
            <form>
                <header class="oe_read_only">
                    <button name="set_signature_active" string="Make this signature active" type="object" class="oe_highlight"/>
                    <button name="disable_signature" string="Disable signature for this company" type="object" class="oe_highlight"/>
                </header>
                <sheet>
                    <group name="group_top">
                        <group name="group_left">
                            <field name="active_signature" readonly="True"/>
                            <field name="company_id" widget="selection"/>
                            <field name="user_name"/>
                            <field name="user_mail"/>
                        </group>
                    </group>
                    <group name="group_down">
                        <field name="signature" widget="html"/>
                    </group>
                </sheet>
            </form>
        </field>
    </record>

    <record id="signatures_view_tree" model="ir.ui.view">
        <field name="name">Signatures by Company List</field>
        <field name="model">nebiz.signatures</field>
        <field name="arch" type="xml">
            <tree default_order="company_id">
                <field name="user_id"/>
                <field name="company_id"/>
                <field name="user_name"/>
                <field name="user_mail"/>
                <field name="active_signature"/>
            </tree>
        </field>
    </record>

    <record id="signatures_view_search" model="ir.ui.view">
        <field name="name">Signatures by Company Search</field>
        <field name="model">nebiz.signatures</field>
        <field name="arch" type="xml">
            <search>
                <field name="user_id"/>
                <field name="company_id"/>
                <field name="user_name"/>
                <field name="user_mail"/>
                <field name="signature" widget="html"/>
            </search>
        </field>
    </record>

    <record id="action_signatures_form" model="ir.actions.act_window">
        <field name="name">Add Signatures by Company</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">nebiz.signatures</field>
        <field name="domain">[('user_id','=',uid)]</field>
<!--        <field name="view_type">form</field>-->
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_signatures"
              name="Signatures"
              sequence="55"/>

    <menuitem action="action_signatures_form"
              id="menu_action_signatures"
              parent="menu_signatures"
              sequence="10"/>

</odoo>