.ai-icon-tab {
    display: inline-block;
    width: 13px; /* Set the width and height according to your image size */
    height: 13px;
    background-image: url('/chatter_llm/static/src/scss/icon_ai_tab.png'); /* Set the path to your image */
    background-size: contain; /* Adjust to your needs */
    background-repeat: no-repeat; /* Adjust to your needs */
    vertical-align: middle; /* Vertically align the icon with the text */
    margin-right: 5px; /* Optional: Add some spacing between the icon and text */
    filter: brightness(0) invert(1) sepia(100%) saturate(7500%) hue-rotate(165deg); /* Change the color to #01666B */
}
